Repository ldming/runbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: rubocop, markdownlint, rspec, test-rules-non-production, test-rules-production, validate-service-mappings, validate-service-catalog-schema, validate-prom-rules, validate-kibana-urls, validate-alerts, update_elastic_log_gprd_ilm, update_elastic_log_gprd_watches, update_elastic_log_gprd_index_templates, update_elastic_log_gprd_cluster_settings, update_elastic_nonprod-log_watches, update_elastic_nonprod-log_ilm, update_elastic_nonprod-log_index_templates, update_elastic_nonprod-log_cluster_settings, update_elastic_monitoring-es7_cluster_settings, update_elastic_monitoring-es7_ilm, docker_image_test, check-stage-groups, test-periodic-queries, reconcile_service_catalog_labels

Path conditions:
  rubocop: any of: **/*.rb
  markdownlint: any of: **/*.md
  rspec: any of: **/*.rb
  test-rules-non-production: any of: rules/**/*
  test-rules-production: any of: rules/**/*
  validate-service-mappings: any of: services/**/*
  validate-service-catalog-schema: any of: services/service-catalog.yml, services/teams.yml
  validate-prom-rules: any of: scripts/prometheus.yml, rules/**/*, thanos-rules/**/*
  validate-kibana-urls: any of: **/*.md
  validate-alerts: any of: docs/**/*, rules/**/*, thanos-rules/**/*, services/**/*
  update_elastic_log_gprd_ilm: any of: elastic/managed-objects/log_gprd/ILM/*
  update_elastic_log_gprd_watches: any of: elastic/managed-objects/log_gprd/watches/*
  update_elastic_log_gprd_index_templates: any of: elastic/managed-objects/log_gprd/index-templates/*, elastic/managed-objects/lib/log_gprd_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_gprd.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update_elastic_log_gprd_cluster_settings: any of: elastic/managed-objects/log_gprd/cluster-settings/*
  update_elastic_nonprod-log_watches: any of: elastic/managed-objects/nonprod-log/watches/*
  update_elastic_nonprod-log_ilm: any of: elastic/managed-objects/nonprod-log/ILM/*
  update_elastic_nonprod-log_index_templates: any of: elastic/managed-objects/nonprod-log/index-templates/*, elastic/managed-objects/lib/nonprod-log_index_template.libsonnet, elastic/managed-objects/lib/index_mappings/*.jsonnet, elastic/managed-objects/lib/settings_nonprod.libsonnet, elastic/managed-objects/indices/indices-array.sh
  update_elastic_nonprod-log_cluster_settings: any of: elastic/managed-objects/nonprod-log/cluster-settings/*
  update_elastic_monitoring-es7_cluster_settings: any of: elastic/managed-objects/monitoring-es7/cluster-settings/*
  update_elastic_monitoring-es7_ilm: any of: elastic/managed-objects/monitoring-es7/ILM/*
  docker_image_test: any of: Dockerfile, .tool-versions, .gitlab-ci-asdf-versions.yml, .gitlab-ci.yml
  check-stage-groups: any of: services/stage-group-mapping.jsonnet
  test-periodic-queries: any of: libsonnet/**/*, periodic-thanos-queries/*, lib/periodic_queries.rb, lib/periodic_queries/**/*
  reconcile_service_catalog_labels: any of: services/service-catalog.yml

chore(deps): update module github.com/russellcardullo/go-pingdom to v1
  pingdom/go.mod
  pingdom/go.sum
Due: none

No need to convert team.ID to int anymore
  pingdom/pingdom.go
Due: none

Use pingdom api token for authentication
  pingdom/pingdom.go
Due: none

feat: Separate SLOs for node level monitoring in a service
  libsonnet/slo-alerts/service-alerts-generator.libsonnet
  metrics-catalog/services/gitaly.jsonnet
  thanos-rules/autogenerated-service-level-alerts-gitaly-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-gitaly-ops.yml
  thanos-rules/autogenerated-service-level-alerts-gitaly-other.yml
  thanos-rules/autogenerated-service-slos.yml
Due: validate-prom-rules, validate-alerts, test-periodic-queries

chore(deps): pin dependency redis to '5.0.6'
  Gemfile
  Gemfile.lock
Due: none

Update Vault documentation for the GCP and Kubernetes secrets engines
  docs/vault/usage.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Apply 4 suggestion(s) to 1 file(s)
  docs/vault/usage.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add Sidekiq SLI execution from the Rails app
  libsonnet/recording-rules/component-metrics-rule-set-generator.libsonnet
  libsonnet/recording-rules/service-key-metrics-rule-files.libsonnet
  libsonnet/servicemetrics/combined_service_level_indicator_definition.libsonnet
  libsonnet/servicemetrics/prometheus-service-group-generator.libsonnet
  libsonnet/servicemetrics/service_level_indicator_definition.libsonnet
  libsonnet/slo-alerts/service-alerts-generator.libsonnet
  libsonnet/slo-alerts/traffic-cessation-alerts.libsonnet
  metrics-catalog/aggregation-sets.libsonnet
  metrics-catalog/gitlab-slis/library.libsonnet
  metrics-catalog/services/sidekiq.jsonnet
  rules-jsonnet/service-key-metrics.jsonnet
  rules/autogenerated-feature-category-metrics-sidekiq.yml
  rules/autogenerated-key-metrics-sidekiq.yml
  thanos-rules-jsonnet/aggregation-set-recording-rules.jsonnet
  thanos-rules/autogenerated-aggregated-application-sli-metrics-gprd.yml
  thanos-rules/autogenerated-aggregated-application-sli-metrics-ops.yml
  thanos-rules/autogenerated-aggregated-application-sli-metrics-other.yml
  thanos-rules/autogenerated-aggregated-sli-shard-metrics-gprd.yml
  thanos-rules/autogenerated-aggregated-sli-shard-metrics-ops.yml
  thanos-rules/autogenerated-aggregated-sli-shard-metrics-other.yml
  thanos-rules/autogenerated-service-level-alerts-sidekiq-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-sidekiq-ops.yml
  thanos-rules/autogenerated-service-level-alerts-sidekiq-other.yml
  thanos-rules/autogenerated-service-slos.yml
Due: test-rules-non-production, test-rules-production, validate-prom-rules, validate-alerts, test-periodic-queries

Support shard level monitoring specifier
  libsonnet/recording-rules/component-metrics-rule-set-generator.libsonnet
  libsonnet/service-catalog/service-catalog_test.jsonnet
  libsonnet/servicemetrics/combined_service_level_indicator_definition.libsonnet
  libsonnet/servicemetrics/prometheus-service-group-generator.libsonnet
  libsonnet/servicemetrics/service_definition.libsonnet
  libsonnet/servicemetrics/service_level_indicator_definition.libsonnet
  libsonnet/slo-alerts/service-alerts-generator.libsonnet
  libsonnet/slo-alerts/traffic-cessation-alerts.libsonnet
  metrics-catalog/aggregation-sets.libsonnet
  metrics-catalog/gitlab-slis/library.libsonnet
  metrics-catalog/services/sidekiq.jsonnet
  reference-architectures/get-hybrid/src/rules/rules.jsonnet
  reference-architectures/get-hybrid/src/rules/slo-alerting-rules.libsonnet
  rules-jsonnet/sidekiq-feature-category-source-metrics.jsonnet
  rules/autogenerated-custom-feature-category-metrics-sidekiq.yml
  rules/autogenerated-feature-category-metrics-sidekiq.yml
  rules/autogenerated-key-metrics-sidekiq.yml
  services/teams.yml
  thanos-rules-jsonnet/service-component-alerts.jsonnet
  thanos-rules-jsonnet/service-key-metrics.jsonnet
  thanos-rules/autogenerated-aggregated-application-sli-metrics-gprd.yml
  thanos-rules/autogenerated-aggregated-application-sli-metrics-ops.yml
  thanos-rules/autogenerated-aggregated-application-sli-metrics-other.yml
  thanos-rules/autogenerated-aggregated-sli-shard-metrics-gprd.yml
  thanos-rules/autogenerated-aggregated-sli-shard-metrics-ops.yml
  thanos-rules/autogenerated-aggregated-sli-shard-metrics-other.yml
  thanos-rules/autogenerated-service-level-alerts-sidekiq-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-sidekiq-ops.yml
  thanos-rules/autogenerated-service-level-alerts-sidekiq-other.yml
  thanos-rules/autogenerated-stage-group-ignored-components.yml
Due: test-rules-non-production, test-rules-production, validate-service-mappings, validate-service-catalog-schema, validate-prom-rules, validate-alerts, test-periodic-queries

Add shard template in service overview dashboard
  dashboards/sidekiq/main.dashboard.jsonnet
  dashboards/sidekiq/shard-detail.dashboard.jsonnet
  libsonnet/gitlab-dashboards/metrics_catalog_dashboards.libsonnet
  libsonnet/gitlab-dashboards/service_dashboard.libsonnet
  libsonnet/grafana/templates.libsonnet
Due: test-periodic-queries

WIP. initial commit
  dashboards/search/zoekt.dashboard.jsonnet
Due: none

Add AI Assisted service
  services/service-catalog.yml
Due: validate-service-mappings, validate-service-catalog-schema, validate-alerts, reconcile_service_catalog_labels

Add ai assisted readme
  docs/ai-assisted/README.md
Due: markdownlint, validate-kibana-urls, validate-alerts

Add sidekiq_queueing SLI from the Rails app
  metrics-catalog/gitlab-slis/library.libsonnet
  metrics-catalog/services/sidekiq.jsonnet
  rules/autogenerated-feature-category-metrics-sidekiq.yml
  rules/autogenerated-gitlab-application-slis.yml
  rules/autogenerated-key-metrics-sidekiq.yml
  thanos-rules/autogenerated-aggregated-application-sli-metrics-gprd.yml
  thanos-rules/autogenerated-aggregated-application-sli-metrics-ops.yml
  thanos-rules/autogenerated-aggregated-application-sli-metrics-other.yml
  thanos-rules/autogenerated-service-level-alerts-sidekiq-gprd.yml
  thanos-rules/autogenerated-service-level-alerts-sidekiq-ops.yml
  thanos-rules/autogenerated-service-level-alerts-sidekiq-other.yml
  thanos-rules/autogenerated-service-slos.yml
Due: test-rules-non-production, test-rules-production, validate-prom-rules, validate-alerts

Update kibana link for Sidekiq
  libsonnet/elasticlinkbuilder/index_catalog.libsonnet
  metrics-catalog/services/sidekiq.jsonnet
Due: test-periodic-queries

Rescue and print error to stdout
  Gemfile
  Gemfile.lock
  scripts/redis_diff.rb
Due: rubocop, rspec

Add guard against empty string, hash, and set
  scripts/redis_diff.rb
Due: rubocop, rspec

Fix cursor printing
  scripts/redis_diff.rb
Due: rubocop, rspec

Adjust number of changepoints per saturation point
  libsonnet/saturation-monitoring/pg_btree_bloat.libsonnet
  libsonnet/servicemetrics/resource_saturation_point.libsonnet
Due: test-periodic-queries

Updates GCP snapshot alerts and runbook
  docs/api/README.md
  docs/console/README.md
  docs/disaster-recovery/README.md
  docs/disaster-recovery/gcp-snapshots.md
  docs/gitaly/README.md
  docs/patroni/README.md
  docs/postgres-dr-delayed/README.md
  docs/search/README.md
  docs/stackdriver/README.md
  docs/thanos/README.md
  docs/uncategorized/gcp-snapshots.md
  thanos-rules/gcp-snapshots.yml
Due: markdownlint, validate-prom-rules, validate-kibana-urls, validate-alerts
